.block.block__highlight
  | Started programming as a hobby. In 2014 I impressed with Ruby, Ruby on Rails and web development. Since this time working with this stack as a backend developer. Now I'm interesting with functional programming and good application design. 

.block
  h2.block__title Technical skills
  p I starting working with Ruby on Rails 3 in 2014, and have been unconditionally in love with the framework ever since.
  p In the 2016 I was working with new project and learning #{link_to "Trailblazer", "http://trailblazer.to/", target: :blank}. As a part of the team I was a one of initiator of the movement. I believe that trailblazer, dry-rb and hanami has a bright future.

.chart
  .chart--donut
    canvas id='myChart' width='272' height='272'
  ul.chart--branches id='myBranches'
    li.chart--branch.chart--branch__ruby
      strong Ruby (3 yrs.)
    li.chart--branch.chart--branch__rails
      strong Rails (3 yrs.)
    li.chart--branch.chart--branch__js
      strong JavaScript (3 yrs.)
    li.chart--branch.chart--branch__html
      strong HTML/CSS (3 yrs.)

.block
  p I'm contributing a little bit to some ruby gems and open source projects. .
  p In my projects I have used: PostgreSQL databases, Puma and Unicorn application servers. I have understanding of TDD/BDD approaches and using RSpec, Capybara and VCR for local and CI tesing. Have experience in preparing and deploying web applications.

.block
  h2.block__title Communication habits
  p As a leed programmer by circumstance I have to communicate between developers and managment to reach our goals. And I think I'm doing it well.

.block
  h2.block__title Work history
  .work
    .work__title
      b
        = link_to nil, 'http://appbooster.ru//', target: :blank, class: 'fa fa-fw fa-external-link'
        | Appbooster (developer)
      p
        i Semptember, 2015 &mdash; now
    p Appbooster is a mobile marketing company. I had participated as a back-end, front-end and even as a devops engeneer in the development.
    p I am working with two main Rails back-end + some-assets-pipeline based self-hosted applications with vue.js elements hosted on AWS EC2. One of the project have a high concurrency with mobile apps and I with my team constantly solving performance problems. Tight working with Appstore and GooglePlay markets (scrappers, data mining, simple analytics)
  .work
    .work__title
      b
        = link_to nil, 'https://tarifer.ru/', target: :blank, class: 'fa fa-fw fa-external-link'
        | Tarifer (Backend developer)
      p
        i October, 2014 &mdash; August, 2015
    p I've starting my career as developer with small scrappers written in Ruby. Working on ORM system for usage inside company. Tarifer offers lowering cost of mobile communication for businesses and individuals.

.block
  h2.block__title Instruments and technologies
  .work
    .work__title
      b Used actively
    p Ruby, Rails, Trailblazer, dry-rb, PostgreSQL, JavaScript/jQuery, Vue.js, HTML5, Slim/HAML, CSS/SASS, Nginx, Puma, Unicorn, Sidekiq, TDD, BDD, RSpec, Capybara, Git, GitHub
  .work
    .work__title
      b Used, but mostly forgotten
    p Unity3d, C#
